@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
p {
  /* font-family: "roboto", sans-serif; */
  color: #848484;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", sans-serif;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
.container_all {
  width: 85%;
  margin-inline: auto;
  padding: 6rem 0.5rem;
}
.p_font {
  font-family: "roboto", sans-serif;
}
/*======== Start Header Section =========*/

.nav-list {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.nav-item a {
  display: inline-block;
  font-size: 0.91rem;
  color: #ffffff;
  position: relative;
  top: 1.2rem;
  letter-spacing: 0.06rem;
  transition: color 0.4s ease-in-out;
}

/* Underline and overline effect */
.nav-item a::before,
.nav-item a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #fcac45;
  transition: 0.6s ease;
}
.active_nav a {
  color: #fcac45;
}
.nav-item.active_nav a::before,
.nav-item.active_nav a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fcac45;
}
.nav-item a::after {
  left: 0;
  bottom: -14px;
}
.nav-item a::before {
  right: 0;
  top: -14px;
}
.nav-item a:hover {
  color: #fcac45;
}
.nav-item a:hover::before,
.nav-item a:hover::after {
  width: 100%;
}
/* end hover effect */
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 0.7rem 5.8rem;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  transition: background-color 0.4s ease-in-out;
}
nav.scrolled {
  background-color: #ffffff;
  border-bottom: 1px solid #fcac45;
  opacity: 0.98;
}
nav.scrolled a {
  color: black;
}

/*======== End Header Section =========*/
/*======== Start Banner Section =========*/

.banner_img {
  position: relative;
}

.banner_img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  pointer-events: none;
}

.banner_img img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.banner_content {
  position: relative;
  display: block;
}
.center_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}
.banner_content h4 {
  padding-top: 5rem;
  font-size: 1.9rem;
  color: #ffffff;
}
.font-color {
  color: #fcac45;
}
.banner_content h5 {
  color: #ffffff;
  font-size: 2.2rem;
  padding-bottom: 1.7rem;
}
.banner-text {
  font-family: "roboto", sans-serif;
  color: #ffffff;
  text-align: left;
  width: 800px;
  padding-left: 250px;
  align-items: center;
  font-size: 0.79rem;
  padding-bottom: 5rem;
}

.btn {
  background-color: #fcac45;
  padding: 0.7rem 2.3rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 29px;
}

.btn:hover {
  background-color: transparent;
  padding: 0.7rem 2.3rem;
  text-transform: uppercase;
  color: #fcac45;
  border: 2px solid #fcac45;
  border-radius: 29px;
}
/* css for swiper slider  */
.swiper-pagination {
  color: #fcac45 !important;
  font-size: 40px;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fcac45;
  font-size: 1rem;
  position: relative;
  transition: 0.2s linear;
  font-size: 2rem;
  border: 4px solid #fcac45;
  padding: 7px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.1);
}

/*======== End Banner Section =========*/
/*======== Start About Section =========*/
#about_part {
  background-color: #f5f5f5;
}
.about_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.left_about_part {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/about.jpg);

  width: 100%;
  height: 450px;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
}
.video_part {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}
.fa-youtube {
  color: #fcac45;
  font-size: 3.8rem;
}
.fa-youtube:hover {
  color: red;
  transition: 0.3s;
}
/* .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
.video_color {
  color: #fca03b;
  font-size: 2rem;
}
.video_part p {
  color: #fff9f9d8;
}
.right_about_part {
  flex: 1;
}
.right_about_part p {
  font-family: "roboto", sans-serif;
  padding-top: 1rem;
}
.right_about_part h1 {
  font-size: 2.5rem;
  color: #fcac45;
}
.fa-chevron-right {
  color: #f5f5f5;
  background-color: #ffa500;
  border-radius: 50%;
  padding: 3px;
  font-size: 13px;
}
.right_about_link_wrapper {
  display: flex;
  gap: 2rem;
}
.download_btn {
  padding-top: 3rem;
}
.primary {
  background-image: linear-gradient(to right top, #fd6d06, #fc810d, #fb9e17);
  padding: 15px;
  color: white;
  border-radius: 3px;
}
.primary:hover {
  background-image: linear-gradient(to right top, #fb9e17, #fc810d, #fd6d06);
  padding: 15px;
  color: white;
  transition: background-image 0.5s, color 1.5s;
}

/*======== End About Section =========*/

/*======== Start offer Section =========*/
.offer_part_A {
  text-align: center;
}
.span_wrapper {
  font-size: 2.4rem;
  color: #333333;
}
.span_wrapper span {
  color: #fcac45;
  font-weight: 600;
}
/* for bottom line */
.line_container_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 0; */
}

.line_container {
  text-align: center;
}

.line {
  background-color: #fcac45;
  height: 2px;
  margin: 10px 0;
}

.line.long {
  width: 120px;
}

.short {
  width: 80px;
  margin: 10px auto;
}
/* end bottom line */
.offer_links_part {
  padding-top: 7rem;
}
.offer_links_part .offers_tab {
  color: #333333de;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.8rem;
}

.custom_line {
  width: 930px;
  height: 0.1px;
  background-color: grey;
  border: none;
  margin: 0 auto;
}
.offers_tab .offer_tablinks:hover {
  cursor: pointer;
  color: #fcac45;
  transition: 0.3s;
}

.offer_links_part h4 {
  position: relative;
  display: inline-block;
}

.offer_links_part h4::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 0;
  height: 3px;
  background-color: #188dab;
  transition: width 0.3s ease, left 0.3s ease;
}
.offer_links_part h4:hover::after {
  width: 236px;
  left: calc(50% - 125px);
}

/* tab content css */
.all_offer_content_wrapper {
  padding-top: 5rem;
}
.full_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}

.tab_link_content {
  padding-bottom: 20px;
  text-align: center;
  border-radius: 8px;
}

/* product */
.tab_link_wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
.content_icon {
  font-size: 2.4rem;
  padding-top: 26px;
}

.content_text .content_text_color {
  font-family: "Gupter", serif;
  font-size: 1.1rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.747);
  padding-top: 30px;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

/*===============================================================  */

.icon_1 .icon_color_1 {
  transition: color 0.3s ease-in-out;

  color: #349595;
}

.icon_2 .icon_color_2 {
  transition: color 0.3s ease-in-out;

  color: #fc5f42;
}
.icon_3 .icon_color_3 {
  transition: color 0.3s ease-in-out;

  color: #f8c331;
}
.icon_4 .icon_color_4 {
  transition: color 0.3s ease-in-out;

  color: #45aef4;
}
.icon_5 .icon_color_5 {
  transition: color 0.3s ease-in-out;

  color: #24ccc0;
}
.icon_6 .icon_color_6 {
  transition: color 0.3s ease-in-out;

  color: #ad33c6;
}
.icon_7 .icon_color_7 {
  transition: color 0.3s ease-in-out;

  color: #b3da27;
}
.icon_8 .icon_color_8 {
  transition: color 0.3s ease-in-out;

  color: #58a5ee;
}
.icon_9 .icon_color_9 {
  transition: color 0.3s ease-in-out;

  color: #275eda;
}
.icon_10 .icon_color_10 {
  transition: color 0.3s ease-in-out;

  color: #f1c40f;
}
.icon_11 .icon_color_11 {
  transition: color 0.3s ease-in-out;

  color: #e74c3c;
}

.icon_12 .icon_color_12 {
  transition: color 0.3s ease-in-out;

  color: #5d6d7e;
}

.item_1 {
  transition: background-color 0.5s ease-in-out;

  background-color: #fdefd0;
}
.item_2 {
  transition: background-color 0.5s ease-in-out;

  background-color: #e6f0f9;
}
.item_3 {
  transition: background-color 0.5s ease-in-out;

  background-color: #fcede8;
}
.item_4 {
  transition: background-color 0.5s ease-in-out;

  background-color: #dff2f1;
}

.item_5 {
  transition: background-color 0.5s ease-in-out;

  background-color: #dff2f1;
}
.item_6 {
  transition: background-color 0.5s ease-in-out;
  background-color: #f2f6db;
}
.item_7 {
  transition: background-color 0.5s ease-in-out;
  background-color: #e6f0f9;
}
.item_8 {
  transition: background-color 0.5s ease-in-out;
  background-color: #fdefd0;
}
.item_9 {
  transition: background-color 0.5s ease-in-out;
  background-color: #b6fcd5;
}
.item_10 {
  transition: background-color 0.5s ease-in-out;
  background-color: #fad7a0;
}
.item_11 {
  transition: background-color 0.5s ease-in-out;
  background-color: #ffc7d0;
}
.item_12 {
  transition: background-color 0.5s ease-in-out;
  background-color: #9fff8f;
}
/*============== for hover========================================== */
/* .hover_effect:hover .content_text_color, 
.hover_effect:hover .icon_color_1{
    background-color: red;
    color: white;
} */

.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}

.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
.hover_all:hover .content_text_color {
  color: white;
}
/* ============================================ */
.hover_all:hover .icon_color_1 {
  color: white;
}
.hover_all:hover .icon_color_2 {
  color: white;
}
.hover_all:hover .icon_color_3 {
  color: white;
}
.hover_all:hover .icon_color_4 {
  color: white;
}
.hover_all:hover .icon_color_5 {
  color: white;
}
.hover_all:hover .icon_color_6 {
  color: white;
}
.hover_all:hover .icon_color_7 {
  color: white;
}
.hover_all:hover .icon_color_8 {
  color: white;
}

.hover_all:hover .icon_color_9 {
  color: white;
}
.hover_all:hover .icon_color_10 {
  color: white;
}
.hover_all:hover .icon_color_11 {
  color: white;
}
.hover_all:hover .icon_color_12 {
  color: white;
}

/* ============================================================ */
.item_1:hover {
  background-color: #349595;
}
.item_2:hover {
  background-color: #fc5f42;
}
.item_3:hover {
  background-color: #f8c331;
}
.item_4:hover {
  background-color: #45aef4;
}
.item_5:hover {
  background-color: #24ccc0;
}
.item_6:hover {
  background-color: #ad33c6;
}
.item_7:hover {
  background-color: #b3da27;
}
.item_8:hover {
  background-color: #58a5ee;
}
.item_9:hover {
  background-color: #275eda;
}
.item_10:hover {
  background-color: #f1c40f;
}
.item_11:hover {
  background-color: #e74c3c;
}
.item_12:hover {
  background-color: #5d6d7e;
}
/* ======end product */
/* ==========experties */

.ex_item_1 {
  transition: background-color 0.5s ease-in-out;
  background-color: #fdef73;
}
.ex_item_2 {
  transition: background-color 0.5s ease-in-out;
  background-color: #f2f6a8;
}
.ex_item_3 {
  transition: background-color 0.5s ease-in-out;
  background-color: #fced73;
}
.ex_item_4 {
  transition: background-color 0.5s ease-in-out;
  background-color: #dff2f1;
}
.ex_item_5 {
  transition: background-color 0.5s ease-in-out;
  background-color: #dff2bb;
}
.ex_item_6 {
  transition: background-color 0.5s ease-in-out;
  background-color: #e6f021;
}
.ex_item_7 {
  transition: background-color 0.5s ease-in-out;
  background-color: #e6f083;
}
.ex_item_8 {
  transition: background-color 0.5s ease-in-out;
  background-color: #fdefd0;
}
/* hover ==================================================*/
.ex_item_1:hover {
  background-color: #349595;
}
.ex_item_2:hover {
  background-color: #fc5f42;
}
.ex_item_3:hover {
  background-color: #f8c331;
}
.ex_item_4:hover {
  background-color: #45aef4;
}
.ex_item_5:hover {
  background-color: #24ccc0;
}
.ex_item_6:hover {
  background-color: #ad33c6;
}
.ex_item_7:hover {
  background-color: #b3da27;
}
.ex_item_8:hover {
  background-color: #58a5ee;
}
/* =================================== services */

.sv_item_1 {
  transition: background-color 0.5s ease-in-out;
  background-color: #fdef73;
}
.sv_item_2 {
  transition: background-color 0.5s ease-in-out;
  background-color: #e6f021;
}
.sv_item_3 {
  transition: background-color 0.5s ease-in-out;
  background-color: #fced73;
}
.sv_item_4 {
  transition: background-color 0.5s ease-in-out;
  background-color: #dff2f1;
}
.sv_item_5 {
  transition: background-color 0.5s ease-in-out;
  background-color: #dff2bb;
}
.sv_item_6 {
  transition: background-color 0.5s ease-in-out;
  background-color: #f2f6a8;
}
.sv_item_7 {
  transition: background-color 0.5s ease-in-out;
  background-color: #e6f083;
}
.sv_item_8 {
  transition: background-color 0.5s ease-in-out;
  background-color: #fdefd0;
}
/* hover ==================================================*/
.sv_item_1:hover {
  background-color: #349595;
}
.sv_item_2:hover {
  background-color: #fc5f42;
}
.sv_item_3:hover {
  background-color: #f8c331;
}
.sv_item_4:hover {
  background-color: #45aef4;
}
.sv_item_5:hover {
  background-color: #24ccc0;
}
.sv_item_6:hover {
  background-color: #ad33c6;
}
.sv_item_7:hover {
  background-color: #b3da27;
}
.sv_item_8:hover {
  background-color: #58a5ee;
}
/* for technology============================= */
.tech_pa {
  padding-top: 18px;
  padding-bottom: 18px;
}
.tech_pa_2 {
  padding-top: 22px;
  padding-bottom: 24px;
}
.tech_item_1 {
  background-color: #d1f368;
}
.tech_item_2 {
  background-color: #e6efb7;
}
.tech_item_3 {
  background-color: #acf1d2;
}
.tech_item_4 {
  background-color: #d1f368;
}
.tech_item_5 {
  background-color: #fdefd0;
}
.tech_item_6 {
  background-color: #e6f0f9;
}
.tech_item_7 {
  background-color: #fcede8;
}
.tech_item_8 {
  background-color: #dff2f1;
}
.tech_item_9 {
  background-color: #fdef73;
}
.tech_item_10 {
  background-color: #e6f021;
}
.tech_item_11 {
  background-color: #fced73;
}
.tech_item_12 {
  background-color: #dff2f1;
}
.tech_item_13 {
  background-color: #dff2f1;
}
.tech_item_14 {
  background-color: #f2f6db;
}
.tech_item_15 {
  background-color: #e6f0f9;
}
.tech_item_16 {
  background-color: #fadd59;
}
/* ====================================hover background */
.tech_item_1:hover {
  background-color: #349595;
}
.tech_item_2:hover {
  background-color: #fc5f42;
}
.tech_item_3:hover {
  background-color: #f8c331;
}
.tech_item_4:hover {
  background-color: #45aef4;
}
.tech_item_5:hover {
  background-color: #24ccc0;
}
.tech_item_6:hover {
  background-color: #ad33c6;
}
.tech_item_7:hover {
  background-color: #b3da27;
}
.tech_item_8:hover {
  background-color: #275eda;
}

.tech_item_9:hover {
  background-color: #58a5ee;
}
.tech_item_10:hover {
  background-color: #ad33c6;
}
.tech_item_11:hover {
  background-color: #45aef4;
}
.tech_item_12:hover {
  background-color: #ad33c6;
}
.tech_item_13:hover {
  background-color: #fc5f42;
}
.tech_item_14:hover {
  background-color: #e74c3c;
}
.tech_item_15:hover {
  background-color: #5d6d7e;
}
.tech_item_16:hover {
  background-color: #f1c40f;
}
/* for show hide div */

#product {
  display: grid;
}

.show_hide {
  display: none;
}
/*======== End offer Section =========*/

/*======== Start awards & about more Section =========*/
.choose_us_content {
  display: flex;
  gap: 5rem;
  /* justify-content: center; */
  text-align: center;
}
.container_wrapper_more {
  padding: 6rem 0;
}
.image_user {
  /* background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url(images/weoffer.png); */

  background-image: url(images/weoffer.png);
  width: 50%;
  height: 530px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 35% 35% 0;
  /* border: 5px solid #ff0000; */
  position: relative;
}

.fa-play {
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 2.5rem;
  padding: 18px;
  color: #fcac45;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #d4d1d1;
}
.content_more_right {
  text-align: left;
  /* right:700px; */
}
.content_more_right h1 {
  font-size: 2.5rem;
  padding-top: 5.5rem;
  padding-bottom: 0.7rem;
}
.content_more_right h3 {
  font-size: 1.7rem;
  padding: 1rem;
}
.content_more_right p {
  padding-left: 1rem;
}

/* for awards */
.awards_wrapper {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.5)),
    url(images/counter-bg.jpg);
  width: 100%;
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.award_center {
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.awards_icon {
  font-size: 2.6rem;
  color: #fcac45;
}
.award_center p {
  color: #f5f5f5;
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: 700;
}
.counting {
  font-size: 2rem;
  color: #f5f5f5;
  border-bottom: 3px solid #fcac45;
  padding-bottom: 8px;
  padding-top: 3px;
}

/*======== End awards & about more Section =========*/

/*======== Start clients Section =========*/
.clients_box_wrapper {
  padding-top: 80px;
}
.clients_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 4rem;
  text-align: center;
  padding: 60px 50px 50px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.client_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 100px; */
}

.client-img {
  /* display: block;
  text-align: center;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  background-color: #188dab; 

 box-shadow: 1px 1px 1px 1px #d4d1d1; 

  padding: 20px; 
  box-sizing: border-box; */
}

.client_logo:hover.client_img {
  transform: scale(2, 2);
}
/* slider --- client */

.image_container img {
  width: 340px;
  height: 260px;
  border: 1px solid #d4d1d1;
}

.slider_for_clients {
  padding: 10px 152px 50px 160px;
}

/*======== End clients Section =========*/
/*======== Start work Section =========*/
#work_part{
  background-color: #F5F5F5;
}
.work_button_part .work_button_list {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.button_item {
  color: #fcac45;
  padding: 8px 19px 8px 19px;
  border: 2px solid #fcac45;
  font-weight: 500;
  border-radius: 2px;
}

.button_item:hover {
  color: #f5f5f5;
  padding: 8px 19px 8px 19px;
  background-color: #fcac45;
  font-weight: 500;
  border-radius: 2px;
  transition: 0.2s;
}

/*======== End work Section =========*/

/*======== Start blog Section =========*/

/*======== End blog Section =========*/

/*======== Start contact Section =========*/

/*======== End contact Section =========*/
